[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
mypy = "*"
black = "*"

[packages]
asyncpg = "*"
jishaku = "*"
aioredis = "*"
pyutil = "*"
redis = "*"
dblpy = "*"
asyncio = "*"
aiohttp = "*"
requests = "*"
arrow = "*"
dateparser = "*"
discord-flags = "*"
disputils = "*"
pillow = "*"
pyyaml = "*"
rotunicode = "*"
ftfy = "*"
unidecode = "*"
googletrans = "*"
gtrans = "*"
textblob = "*"
pytest = "*"
discord-ext-menus = {git = "https://github.com/Rapptz/discord-ext-menus"}
python-dateutil = "*"
parsedatetime = "*"
aioscheduler = "*"
"discord.py" = {git = "https://github.com/Rapptz/discord.py.git"}
color-console = "*"
discord-py-slash-command = "*"
pytz = "*"
tortoise-orm = {extras = ["asyncpg"], version = "*"}

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
